
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
ul {
  list-style: url(../img/list.png);
}

.topnav {
    font-size: 14px;
}
.navbar-brand {
    height: 65px;
}
#logo {
    padding: 5px 8px;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #fff;
    border-color: #777;
}
.link {
    background-color: transparent !important;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 2px;
    padding-bottom: 20px !important;
    padding-top: 22px !important;
}
.link:hover, .selected {
    color: #124666 !important;
    border-bottom-color: #124666;
}
.link-dropdown {
    color: #777 !important;
    background-color: transparent !important;
}
.link-dropdown:hover {
    color: #124666 !important;
}
.carousel-image {
    height: 550px;
    width: 100%;
    /*object-fit: fill;*/
    /*overflow: hidden;*/
}
.intro {
    text-align: center;
    padding: 20px;
    color: #5B7C8E;
}
.fa {
    color: #F5842A;
}
.section-heading-spacer {
    border-top: 1px solid rgba(238, 238, 238, 0);
}
.about, .capabilities, .strategic, .consulting, .training, .business {
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    overflow:auto;
    background-size: 100% 100%;
    background: url(../img/portfolio.jpg) no-repeat center center fixed;
}
.down-arrow > .fa{
    color: #fff;
}
.contact-details a {
    color: #5B7C8E;
}
#contact-div {
    padding: 0;
}
.list { 
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}
#scrollUp{
    background: url(../img/top.png);
    background-color: rgba(18, 70, 102, 0.65);
    background-repeat: no-repeat;
    background-position: 50% 45%;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 190px;
    right: 20px;
    z-index: 2147483647;
    display: inline;
    border-radius: 50%;
}
#scrollUp:hover {
    background-color: rgba(18, 70, 102, 0.5);
} 
.training-divider {
    border-top: 1px solid #124666
}

.contact {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    overflow:auto;
    background-size: 100% 100%;
}
.contact-message {
    position: relative;
    padding-top: 10%;
    padding-bottom:10%;
}

.intro-message > h1, .contact-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3, .contact-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.auto-text {
    height: 10px;
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #93a4aa;
}
.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
    color: #364347;
}
.cd-headline.type b {
    visibility: hidden;
}
.cd-headline.type b.is-visible {
    visibility: visible;
    font-style: normal;
}
.cd-headline.type i {
    position: absolute;
    visibility: hidden;
    font-style: normal;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
    font-style: normal;
}
#carousel-1-alt1, #carousel-1-alt2, #carousel-1-alt3, #carousel-2-alt1, #carousel-2-alt2, #carousel-2-alt3, #carousel-3-alt1, #carousel-3-alt2, #carousel-3-alt3 {
    display: none;
}

@media(max-width: 826px) {
    #carousel-1-alt1, #carousel-3-alt1 {
        display: block;
    }
    #carousel-1, #carousel-1-alt2, #carousel-1-alt3, #carousel-3, #carousel-3-alt2, #carousel-3-alt3 {
        display: none;
    }
}

@media(max-width: 780px) {
    #carousel-2-alt1 {
        display: block;
    }
    #carousel-2, #carousel-2-alt2, #carousel-2-alt3 {
        display: none;
    }
}

@media(max-width: 620px) {
    #carousel-1-alt2, #carousel-3-alt1 {
        display: block;
    }
    #carousel-1, #carousel-1-alt1, #carousel-1-alt3, #carousel-3, #carousel-3-alt2, #carousel-3-alt3{
        display: none;
    }
}
@media(max-width: 595px) {
    #carousel-2-alt2, #carousel-3-alt2 {
        display: block;
    }
    #carousel-2, #carousel-2-alt1, #carousel-3-alt1, #carousel-3 {
        display: none;
    }
}
/*@media(max-width: 585px) {
    #carousel-3-alt4 {
        display: block;
    }
    #carousel-3, #carousel-3-alt2, #carousel-3-alt3, #carousel-3-alt1{
        display: none;
    }
}*/
@media(max-width: 450px) {
    #carousel-1-alt3, #carousel-3-alt3 {
        display: block;
    }
    #carousel-1, #carousel-1-alt1, #carousel-1-alt2, #carousel-3, #carousel-3-alt1, #carousel-3-alt2 {
        display: none;
    }
}

@media(max-width: 462px) {
    #carousel-2-alt3 {
        display: block;
    }
    #carousel-2, #carousel-2-alt1, #carousel-2-alt2  {
        display: none;
    }
}
@media(max-width:767px) {
    .intro-message, .contact-message {
        padding-bottom: 15%;
    }
    .intro-message > h1, .contact-message > h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}
@media(max-width: 991px) {
 /*   .topnav {
        font-size: 12px;
    }*/
      .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
@media(max-width: 1199px) {
    .navbar-brand {
        height: 58px;
    }
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 20px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.contact {
    background: url(../img/portfolio.jpg) no-repeat center center fixed;
}

footer {
    padding: 50px 0;
    background-color: #124666;
    color: #fff;
}
.copyright {
    margin: 40px 0 0;
}
.footer-social a{
    padding-left: 5px;
}

